# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ch\Desktop\DataStructures_Fundamentals\data-structures\05.Trees_Representation_And_Traversal_BFS&DFS_Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
