# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ch\Desktop\DataStructures_Fundamentals\data-structures\04.Tree_Representation_And_Traversal_BFS_DFS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
